
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
    <h2>Ejericicios varios</h2>
    <div>
        @Html.ActionLink("Calcular Edad", "CalcularEdad")
        <br />
        @Html.ActionLink("Calculadora", "Calculadora") 
        <br/>
        @Html.ActionLink("Converisones", "Conversion")
        <br/>
        @Html.ActionLink("Descuento en compras", "Descuento")
        <br/>
        @Html.ActionLink("Estadísticas de Asignatura", "Estadistica")
    </div>
</body>
</html>


