@*vista para mostrar los libros*@
@*nombre de proyecto.models.clase*@

@model IEnumerable<MVC_Viernes.Models.Libro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>        
        <th>Isbn</th>
        <th>Titulo</th>
        <th>TipoLibro</th>        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelitem=>item.Isbn)
            
        </td>
        <td>
            @Html.DisplayFor(modelitem=>item.Titulo)
            
        <td>
            @Html.DisplayFor(modelitem=>item.TipoLibro)            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Isbn }) |
            @Html.ActionLink("Details", "Details", new { id = item.Isbn }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Isbn })
        </td>
    </tr>
}

</table>
