@model IEnumerable<MVC_Viernes.Models.Libro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>        
        <th>Isbn</th>
        <th>Titulo</th>
        <th>TipoLibro</th>        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Isbn
            
        </td>
        <td>
            @item.Titulo
            
        <td>
            @item.TipoLibro
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
